<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row mb-4">
    <div class="col"><h1>Hey, <%= userName %></h1></div>
    <div class="col tex-end">
      <a href="/dasboard/add" class="btn btn-primary">New Notes</a>
    </div>
  </div>
</div>
