<div class="container_fluid container_fluid_custom pb-5 mb-5">
  <div class="row">
    <% if (searchResult != '') { %> <% searchResult.forEach( function (note,
    index) { %>

    <a href="/dashboard/item/<%= note._id %>">
      <h4><%= note.title %></h4>
    </a>
    <% }) %> <% } else {%>
    <p>No notes found</p>
    <% } %>
  </div>
</div>
